---
import { SITE_DESCRIPTION, SITE_NAME, SITE_TITLE } from "../consts";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/placeholder-social.png" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title ? `${title} - ${SITE_NAME}` : SITE_TITLE}</title>
<meta name="title" content={title ? `${title} - ${SITE_NAME}` : SITE_TITLE} />
<meta
  name="description"
  content={description ? `${description} - ${SITE_DESCRIPTION}` : SITE_DESCRIPTION}
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title ? `${title} - ${SITE_NAME}` : SITE_TITLE} />
<meta
  property="og:description"
  content={description ? `${description} - ${SITE_DESCRIPTION}` : SITE_DESCRIPTION}
/>
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title ? `${title} - ${SITE_NAME}` : SITE_NAME} />
<meta
  property="twitter:description"
  content={description ? `${description} - ${SITE_DESCRIPTION}` : SITE_DESCRIPTION}
/>
<meta property="twitter:image" content={new URL(image, Astro.url)} />
