---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section>
  <ul class="flex flex-col space-y-4">
    {
      posts.map((post) => (
        <li>
          <a
            class="space-y-2 flex flex-col items-start rounded-lg p-5 bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
            href={`/blog/${post.slug}`}
          >
            <div class="space-y-1">
              <span class="text-xl text-black dark:text-white font-bold">{post.data.title}</span>
              <div class="flex flex-col">
                <span class="flex items-center space-x-1 text-sm font-bold uppercase">
                  <FormattedDate date={post.data.pubDate} />
                  {post.data.tags.map((tag) => (
                    <span>{` • ${tag}`}</span>
                  ))}
                </span>
              </div>
            </div>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
