---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose max-w-none dark:prose-invert">
    {heroImage && <img src={heroImage} alt={heroImageAlt} />}
    <h1>{title}</h1>
    <div class="font-light">
      Published on <FormattedDate date={pubDate} />
    </div>
    {
      updatedDate && (
        <div class="font-light">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <div class="border-t"></div>
    <slot />
  </article>
</BaseLayout>
