---
import { CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import TableOfContent from "../components/TableOfContent.astro";
import ScrollToTopButton from "../components/ScrollToTopButton";
import { Image } from "astro:assets";
import SeriesList from "../components/SeriesList.astro";
import SeriesCard from "../components/SeriesCard.astro";

type Blog = CollectionEntry<"blog">["data"];

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export interface Props extends Blog {
  readingTime: string;
  headings: Heading[];
}

const {
  title,
  description,
  tags,
  pubDate,
  updatedDate,
  cover,
  coverAlt,
  readingTime,
  headings,
  seriesId,
  orderInSeries,
} = Astro.props;

const series = (await getCollection("series")).find((s) => s.data.id === seriesId);
---

<BaseLayout title={title} description={description} postMeta={{ pubDate, tags }}>
  <div
    class="prose prose-slate max-w-none prose-headings:scroll-my-20 prose-a:underline-offset-2 prose-a:decoration-blue-600 prose-img:rounded-lg dark:prose-invert"
  >
    <h1>{title}</h1>
    <div class="font-semibold text-xs uppercase space-y-2">
      <div class="flex flex-wrap items-center space-x-1">
        <span>
          Published on <FormattedDate date={pubDate} />
        </span>
        {
          updatedDate && (
            <>
              <span>{"•"}</span>
              <span>
                Updated on <FormattedDate date={updatedDate} />
              </span>
            </>
          )
        }
        <span>{"•"}</span>
        <span>{readingTime}</span>
      </div>
      <div class="flex space-x-2 items-center">
        {
          tags.map((tag) => (
            <a
              href={`/tags/${tag.slice(1)}`}
              class="no-underline bg-slate-300 hover:bg-slate-400 dark:bg-slate-700 dark:hover:bg-slate-600 p-1 px-4 rounded-full"
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
    <div class="not-prose">
      {cover && coverAlt && <Image class="my-10 mb-1 rounded-lg" src={cover} alt={coverAlt} />}
    </div>
    <div class="md:flex space-x-10">
      <div class="w-full">
        <div class="not-prose my-10">
          {series && <SeriesCard series={series} order={orderInSeries} />}
        </div>
        <article>
          <slot />
        </article>
      </div>
      {
        headings.length > 0 && (
          <nav class="hidden text-sm space-y-2 mt-9 lg:block lg:w-4/12 h-screen sticky top-20 z-40">
            <span class="font-black dark:text-white text-black uppercase">On This Page</span>
            <TableOfContent headings={headings} />
            <div class="border-slate-700 border-b-[1px]" />
            <div class="flex float-right">
              <ScrollToTopButton client:idle />
            </div>
          </nav>
        )
      }
    </div>
  </div>
</BaseLayout>

<script>
  const codeBlocks = Array.from(document.querySelectorAll("div[data-rehype-pretty-code-fragment]"));

  for (let codeBlock of codeBlocks) {
    const codeBlockPre = codeBlock.getElementsByTagName("pre")[0];

    // Copy button
    const copyButton = document.createElement("button");
    copyButton.className =
      "p-1 px-2 rounded-md text-slate-300 text-xs bg-slate-800 hover:bg-slate-700";
    copyButton.innerHTML = "Copy";

    // Header title
    const titleSpan = document.createElement("span");
    titleSpan.className = "text-blue-400";

    // Header div
    const headerDiv = document.createElement("div");
    headerDiv.className =
      "flex w-full bg-slate-950 border-b-[0.5px] border-blue-400 rounded-t-lg mt-10 text-base items-center justify-between py-2 px-4";

    // Current title
    const titleDiv = codeBlock.querySelector("div[data-rehype-pretty-code-title]");

    // Set title to the language name if no current title is set
    if (titleDiv) {
      const title = titleDiv.innerHTML;
      titleSpan.innerHTML = title;
      codeBlock.removeChild(titleDiv);
    } else {
      titleSpan.innerHTML = codeBlockPre.getAttribute("data-language") as string;
    }

    headerDiv.appendChild(titleSpan);
    headerDiv.appendChild(copyButton);
    codeBlock.prepend(headerDiv);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(block: Element, button: HTMLButtonElement) {
    const code = block.querySelector("code") as HTMLElement;
    const text = code.innerText as string;
    await navigator.clipboard.writeText(text);
    button.innerText = "Copied!";

    setTimeout(() => {
      button.innerText = "Copy";
    }, 750);
  }
</script>
