---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, updatedDate, ogImage, ogImageAlt } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article
    class="prose max-w-none prose-a:font-bold prose-a:text-slate-200 prose-a:underline prose-a:underline-offset-2 prose-a:decoration-blue-600 prose-headings:text-slate-200 prose-p:text-slate-400 dark:prose-invert"
  >
    <div class="not-prose space-y-3">
      <h1 class="text-4xl text-slate-200">{title}</h1>
      <div class="flex flex-col font-bold text-xs uppercase space-y-1">
        <span>
          Published on <FormattedDate date={pubDate} />
        </span>
        {
          updatedDate && (
            <span>
              Updated on <FormattedDate date={updatedDate} />
            </span>
          )
        }
      </div>
      <div class="flex space-x-2 items-center font-bold text-xs uppercase">
        {
          tags.map((tag) => (
            <a
              href={`/tags/${tag}`}
              class="no-underline bg-slate-500/30 hover:bg-slate-500/50 p-1 px-3 rounded-sm"
            >
              {tag}
            </a>
          ))
        }
      </div>
      {ogImage && <img src={ogImage} alt={ogImageAlt} />}
    </div>
    <slot />
  </article>
</BaseLayout>
