---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, updatedDate, ogImage, ogImageAlt } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose max-w-none dark:prose-invert">
    <h1>{title}</h1>
    <div class="font-bold text-xs uppercase space-y-3">
      <div class="flex flex-col">
        <span>
          Published on <FormattedDate date={pubDate} />
        </span>
        {
          updatedDate && (
            <span>
              Updated on <FormattedDate date={updatedDate} />
            </span>
          )
        }
      </div>
      <div class="flex space-x-2 items-center">
        {
          tags.map((tag) => (
            <a
              href={`/tags/${tag}`}
              class="bg-slate-500/30 hover:bg-slate-500/50 p-1 px-2 rounded-sm no-underline"
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
    {ogImage && <img src={ogImage} alt={ogImageAlt} />}
    <slot />
  </article>
</BaseLayout>
